

# Pandas √© uma biblioteca do Python voltada para manipula√ß√£o, limpeza e an√°lise de dados estruturados. Ela facilita trabalhar com tabelas, planilhas e grandes conjuntos de informa√ß√µes, permitindo criar m√©tricas, relat√≥rios e fazer consultas de forma r√°pida e organizada.

Se algu√©m perguntar ‚Äúpra que serve?‚Äù, voc√™ pode dizer:

üëâ Serve pra transformar dados brutos em informa√ß√£o √∫til, criando m√©tricas, filtrando, organizando e analisando bases de dados com facilidade.

In [1]:
import pandas as pd

### üìä <span style="color:#2E86C1;"><u>Criando um DataFrame com Pandas</u></span>

Aqui estamos usando o `pd.DataFrame` para criar uma **tabela estruturada**, que √© um dos principais recursos da biblioteca **Pandas**.  
Um DataFrame funciona como uma **planilha**, possuindo **linhas, colunas e r√≥tulos**, o que facilita a organiza√ß√£o e an√°lise dos dados.

üìå **No exemplo abaixo**, estamos montando uma **matriz de confus√£o**, que √© usada em **Machine Learning** para avaliar a performance de um modelo de classifica√ß√£o. Ela compara os valores **reais** com os valores **previstos**, permitindo identificar acertos e erros do modelo.

In [2]:
df = pd.DataFrame(
    {
        'Valor Obtido: Verdadeiro': [990, 10],
        'Valor Obtido: Falso': [2, 998]
    },
    index=['Valor Real: Verdadeiro', 'Valor Real: Falso']
)


print(df)

                        Valor Obtido: Verdadeiro  Valor Obtido: Falso
Valor Real: Verdadeiro                       990                    2
Valor Real: Falso                             10                  998

### üìà <span style="color:#AF7AC5;"><u>An√°lise Temporal: Explorando uma S√©rie de Dados</u></span>
Nesta se√ß√£o, estamos utilizando o objeto pd.Series da biblioteca Pandas. Uma S√©rie √© como uma coluna de uma planilha ou um vetor rotulado:

Ela armazena os valores (os dados brutos, como a contagem de itens).

In [9]:
vision = pd.Series([30, 35, 40], index=['2023 Compras', '2024 Compras', '2025 Compras'], name='Softwares')
vision

2023 Compras    30
2024 Compras    35
2025 Compras    40
Name: Softwares, dtype: int64

In [1]:
Clients = pd.read_csv("./clients.csv", nrows=7)

NameError: name 'pd' is not defined

In [33]:
Clients.head(10)

,1,Pedro Henrique Ramires,dodie.miller@crist.example,(12) 94977-9330,Rio Grande do Sul,Gravata√≠
0,2,Arthur Miguel Louzada,starla@bailey-okuneva.example,(63) 91552-0912,Minas Gerais,Juiz de Fora
1,3,Maria Valentina Barreto,luther@smitham-walker.test,(88) 93484-4504,Pernambuco,Jaboat√£o dos Guararapes
2,4,Larissa Chaves,mohamed@fritsch-reichert.test,(30) 95457-5873,Bahia,Salvador
3,5,Marcelo Macedo,flora_brakus@dickinson.test,(19) 99104-2513,Bahia,Cama√ßari
4,6,Yago Sais,carol@schmitt-gerlach.test,(66) 96848-7229,Esp√≠rito Santo,Cariacica
5,7,Marli Louzada,twanda@schmitt.test,(92) 94764-7873,Pernambuco,Jaboat√£o dos Guararapes
6,8,Francisco Lopes,gavin.purdy@hessel-gulgowski.test,(41) 99917-4856,Goi√°s,An√°polis